# Temp directories
/qt/*
/wxWidgets/*
/OCCT/*
/cairo/*
/libgit2/*
/ngspice/*
/unixODBC/*
/zstd/*
/protobuf/*
/harfbuzz/*
/python/*
/openssl/*
/icu/*
/pcre2/*
/boost/*
/sysroot/*
/toolchain_*/*
/pcbnewapp/*

android-cross-file*.txt

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
