# Temp directories
/qt/*
/wxWidgets/*
/OCCT/*
/cairo/*
/libgit2/*
/ngspice/*
/sysroot/*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
