# Temp directories
/qt/*
/wxWidgets/*
/OCCT/*
/cairo/*
/libgit2/*
/ngspice/*
/unixODBC/*
/zstd/*
/protobuf/*
/harfbuzz/*
/python/*
/openssl/*
/sysroot/*
/pcbnewapp/*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
